{% extends "layout.html" %}

{% block content %}

{% raw %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>AllenNlp - Coreference Resolution</h1>
    </div>
    <h6>API</h6>
    <div class="block">
        <div>
            <span class="api-method">GET</span>  <a target="_blank" v-bind:href="run_url">/api/allennlp/coreference_resolution?document={document}</a>
        </div>
        <div>
            <span class="api-method">POST</span> <a target="_blank" v-bind:href="run_url">/api/allennlp/coreference_resolution</a>
            <span class="api-method"> </span>
<pre>
      {
          "document":"{document}"
      }
</pre>
        </div>
    </div>
    <br /><br />
    <h6>Description</h6>
    <div class="block">
        <ul style="padding-left: 20px">
            <li><a target="_blank" href="https://demo.allennlp.org/coreference-resolution" class="font-black">https://demo.allennlp.org/coreference-resolution</a></li>
            <li>Finds all expressions that refer to the same entity in a <i>document</i>.</li>
        </ul>
    </div>
    <br /><br />
    <h6>Models</h6>
    <div class="block">
        <models v-bind:component="'allennlp'" v-bind:model="'coreference_resolution'"></models>
    </div>
    <br /><br />
    <h6>
        Demo
        <select v-model="example" class="ml-3">
            <option value=""></option>
            <option value="Paul Allen">Paul Allen</option>
        </select>
    </h6>
    <div class="block">
        <form>
            <div class="form-group">
                <label for="document">document</label>
                <text-editor v-model="document" lineNumbers="false"></text-editor>
            </div>
            <button v-on:click.stop.prevent="run()" class="btn btn-sm btn-outline-secondary" type="submit">
                Run
                <span v-if="run_clicked" class="loader"></span>
            </button>
            <div class="run_error">{{run_error}}</div>
        </form>
        <br />
        <div v-if="run_result">
            <a target="_blank" v-bind:href="run_url">/api/allennlp/coreference_resolution?document={document}</a>
            <json-viewer v-model="run_result"></json-viewer>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            document: '',
            example: '',
            model: '',
            run_clicked: null,
            run_error: null,
            run_result: '',
            run_url: `/api/allennlp/coreference_resolution?document=`
        },
        watch: {
            example: function (val) {
                if (val === 'Paul Allen') {
                    this.document = 'Paul Allen was born on January 21, 1953, in Seattle, Washington, to Kenneth Sam Allen and Edna Faye Allen. Allen attended Lakeside School, a private school in Seattle, where he befriended Bill Gates, two years younger, with whom he shared an enthusiasm for computers. Paul and Bill used a teletype terminal at their high school, Lakeside, to develop their programming skills on several time-sharing computer systems.';
                    return;
                }
                this.document = '';
            },
        },
        methods: {
            run: function () {
                this.run_result = {};
                this.run_error = null;
                this.run_url = `/api/allennlp/coreference_resolution?document=${encodeURIComponent(this.document || '')}`;
                this.run_clicked = true;
                this.$fetch(
                    this.run_url, {
                        method: "GET"
                    })
                    .then(json => {
                        this.run_clicked = false;
                        this.run_result = json;
                    })
                    .catch(error => {
                        this.run_clicked = false;
                        this.run_error = "Error: " + error.message;
                    });
            }
        }
    });
</script>


{% endraw %}

{% endblock %}
