{% extends "layout.html" %}

{% block content %}

{% raw %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>AllenNlp - Machine Comprehension</h1>
    </div>
    <h6>API</h6>
    <div class="block">
        <div>
            <span class="api-method">GET</span>  <a target="_blank" v-bind:href="run_url">/api/allennlp/machine_comprehension?document={document}&question={question}</a>
        </div>
        <div>
            <span class="api-method">POST</span> <a target="_blank" v-bind:href="run_url">/api/allennlp/machine_comprehension</a>
            <span class="api-method"> </span>
<pre>
      {
          "document":"{question}",
          "question":"{question}"
      }
</pre>
        </div>
    </div>
    <br /><br />
    <h6>Description</h6>
    <div class="block">
        <ul style="padding-left: 20px">
            <li><a target="_blank" href="https://demo.allennlp.org/machine-comprehension" class="font-black">https://demo.allennlp.org/machine-comprehension</a></li>
            <li>Answer natural language questions by selecting an answer span within <i>document</i></li>
        </ul>
    </div>
    <br /><br />
    <h6>Models</h6>
    <div class="block">
        <models v-bind:component="'allennlp'" v-bind:model="'machine_comprehension'"></models>
    </div>
    <br /><br />
    <h6>
        Demo
        <select v-model="example" class="ml-3">
            <option value=""></option>
            <option value="Matrix">Matrix</option>
        </select>
    </h6>
    <div class="block">
        <form>
            <div class="form-group">
                <label for="document">document</label>
                <text-editor v-model="document" lineNumbers="false"></text-editor>
            </div>
            <div class="form-group">
                <label for="question">question</label>
                <text-editor v-model="question" lineNumbers="false"></text-editor>
            </div>
            <button v-on:click.stop.prevent="run()" class="btn btn-sm btn-outline-secondary" type="submit">
                Run
                <span v-if="run_clicked" class="loader"></span>
            </button>
            <div class="run_error">{{run_error}}</div>
        </form>
        <br />
        <div v-if="run_result">
            <a target="_blank" v-bind:href="run_url">/api/allennlp/machine_comprehension?document={document}&question={question}</a>
            <json-viewer v-model="run_result"></json-viewer>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            document: '',
            question: '',
            example: '',
            run_clicked: null,
            run_error: null,
            run_result: '',
            run_url: `/api/allennlp/machine_comprehension?document=&question=`
        },
        watch: {
            example: function (val) {
                if (val === 'Matrix') {
                    this.document = 'The Matrix is a 1999 science fiction action film written and directed by The Wachowskis, starring Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss, Hugo Weaving, and Joe Pantoliano.';
                    this.question = 'Who stars in The Matrix?';
                    return;
                }
                this.document = '';
                this.question = '';
            },
        },
        methods: {
            run: function () {
                this.run_result = {};
                this.run_error = null;
                this.run_url = `/api/allennlp/machine_comprehension?document=${encodeURIComponent(this.document || '')}&question=${encodeURIComponent(this.question || '')}`;
                this.run_clicked = true;
                this.$fetch(
                    this.run_url, {
                        method: "GET"
                    })
                    .then(json => {
                        this.run_clicked = false;
                        this.run_result = json;
                    })
                    .catch(error => {
                        this.run_clicked = false;
                        this.run_error = "Error: " + error.message;
                    });
            }
        }
    });
</script>


{% endraw %}

{% endblock %}
