{% extends "layout.html" %}

{% block content %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>nltk</h1>
        <a target="_blank" href="http://www.nltk.org" class="font-black">http://www.nltk.org</a>
    </div>
    <div>
        <ul>
            <li>
                <a href="/nltk/vader_sentiment_analysis">Vader sentiment analysis</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
