{% extends "layout.html" %}

{% block content %}

{% raw %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>TextBlob - Language detection</h1>
        <a target="_blank" href="https://github.com/sloria/TextBlob" class="font-black">https://github.com/sloria/TextBlob</a>
    </div>
    <div>
        <a target="_blank" v-bind:href="run_url">/api/textblob/language_detection?document={document}</a>
    </div>
    <br /><br />
    <h6>Description</h6>
    <div class="block">
        <ul style="padding-left: 20px">
            <li></li>
        </ul>
    </div>
    <br /><br />
    <h6>Demo
        <select v-model="example" class="ml-3">
            <option value=""></option>
            <option value="Thomas A. Anderson">Thomas A. Anderson</option>
        </select>
    </h6>
    <div class="block">
        <form>
            <div class="form-group">
                <label for="text">document</label>
                <text-editor v-model="document" lineNumbers="false"></text-editor>
            </div>
            <button v-on:click.stop.prevent="run()" class="btn btn-sm btn-outline-secondary" type="submit">
                Run
                <span v-if="run_clicked" class="loader"></span>
            </button>
            <div>{{run_error}}</div>
        </form>
        <br />
        <div v-if="run_result">
            <a target="_blank" v-bind:href="run_url">/api/textblob/language_detection?document={document}</a>
            <json-viewer v-model="run_result"></json-viewer>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            model: '',
            document: '',
            example: '',
            run_clicked: null,
            run_error: null,
            run_result: '',
            run_url: `/api/textblob/language_detection?document=`
        },
        watch: {
            example: function (val) {
                if (val === 'Thomas A. Anderson') {
                    this.document = "Thomas A. Anderson is a man living two lives. By day he is an average computer programmer and by night a hacker known as Neo. Neo has always questioned his reality, but the truth is far beyond his imagination. Neo finds himself targeted by the police when he is contacted by Morpheus, a legendary computer hacker branded a terrorist by the government. Morpheus awakens Neo to the real world, a ravaged wasteland where most of humanity have been captured by a race of machines that live off of the humans' body heat and electrochemical energy and who imprison their minds within an artificial reality known as the Matrix.As a rebel against the machines, Neo must return to the Matrix and confront the agents: super- powerful computer programs devoted to snuffing out Neo and the entire human rebellion.";
                    return;
                }
                this.document = '';
            },
        },
        methods: {
            run: function () {
                this.run_result = {};
                this.run_error = null;
                this.run_url = `/api/textblob/language_detection?document=${encodeURIComponent(this.document || '')}`;
                this.run_clicked = true;
                this.$fetch(
                    this.run_url, {
                        method: "GET"
                    })
                    .then(json => {
                        this.run_clicked = false;
                        this.run_result = json;
                    })
                    .catch(error => {
                        this.run_clicked = false;
                        this.run_error = "Error: " + error.message;
                    });
            }
        }
    });
</script>


{% endraw %}

{% endblock %}
