{% extends "layout.html" %}

{% block content %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>Gensim</h1>
        <a target="_blank" href="https://radimrehurek.com/gensim/" class="font-black">https://radimrehurek.com/gensim/</a>
    </div>
    <div>
        <ul>
            <li>
                <a href="/gensim/summarization">Summarization</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
