body {
    font-size: .875rem;
    width: 100%;
}

.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.logo,
.log:hover {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.0rem;
    text-decoration: none;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.block {
    font-size: 14px;
    padding-left: 20px;
}

.ul-items {
    list-style: none;
    padding: 0px;
}

    .ul-items .nav-link {
        padding: 0px;
        color: #212529;
        padding-top: 4px;
        padding-bottom: 4px;
        x-border-top: 1px solid #dee2e6;
    }

    .ul-items .nav-link:hover,
    .ul-items .nav-link.active {
        background-color: #f7f7f9;
    }
        

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    box-shadow: none;
}

.CodeMirror, input, textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    background-color: #f8f9fa;
    border: 0px none;
    border-radius: 3px;
}

.font-black {
    color: black !important;
}

.text-error {
    color: #dc3545;
}

.run_error {
    color: #dc3545;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.string {
}

.number {
}

.boolean {
}

.null {
}

.key {
}

.api-method {
    width: 40px;
    display: inline-block;
    font-size: 12px;
}