{% extends "layout.html" %}

{% block content %}

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1>Spacy</h1>
        <a target="_blank" href="https://spacy.io" class="font-black">https://spacy.io</a>
    </div>
    <div>
        <ul>
            <li>
                <a href="/spacy/nlp">NLP</a>
            </li>
            <li>
                <a href="/spacy/similarity">Similarity</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
